.imageNav {
  width: 20px;
}

.imageNav:hover {
  width: 27px;
}

.icon {
  float: left;
  padding: 20px;
  margin: 0 auto;
}

.icon h1 {
  width: 10px;
}

.container {
  float: right;
  width: 40%;
  margin: 0 auto;
  display: flex;
}

nav ul {
  margin: 15;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 30px;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  font-weight: bolder;
  color: #000;
}

.cart span {
  position: absolute;
  width: auto;
  font-size: 10px;
  background-color: rgb(238, 83, 83);
  border-radius: 50%;
  text-align: center;
  font-weight: bolder;
  padding: 2px;
}
